//  블라인드
.blind {
  backdrop-filter: blur(4px);
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 21;
  text-align: left;
}
.blind--btnClosed {
  display: none;
  position: fixed;
}
.popup__close,
.blind--btnClosed {
  z-index: 500;
  width: 80px;
  height: 80px;
  cursor: pointer;
  right: 0;
  top: 0;
  background: {
    //기본 닫기 이미지
    image: url("data:image/svg+xml,%0A%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.5858 30.4142C28.3668 31.1953 29.6332 31.1953 30.4142 30.4142C31.1953 29.6332 31.1953 28.3668 30.4142 27.5858L18.6642 15.8358L19 15.5L18.6642 15.1642L30.4142 3.41422C31.1953 2.63317 31.1953 1.36684 30.4142 0.585788C29.6332 -0.195261 28.3668 -0.195261 27.5858 0.585788L15.8358 12.3358L15.5 12L15.1642 12.3358L3.41421 0.585786C2.63316 -0.195262 1.36683 -0.195262 0.585786 0.585786C-0.195262 1.36684 -0.195262 2.63317 0.585786 3.41421L12.3358 15.1642L12 15.5L12.3358 15.8358L0.585786 27.5858C-0.195262 28.3668 -0.195262 29.6332 0.585786 30.4142C1.36684 31.1953 2.63317 31.1953 3.41421 30.4142L15.1642 18.6642L15.5 19L15.8358 18.6642L27.5858 30.4142ZM15.8358 18.6642L18.6642 15.8358L18.3284 15.5L18.6642 15.1642L15.8358 12.3358L15.5 12.6716L15.1642 12.3358L12.3358 15.1642L12.6716 15.5L12.3358 15.8358L15.1642 18.6642L15.5 18.3284L15.8358 18.6642Z' fill='white'/%3E%3C/svg%3E%0A");
    repeat: no-repeat;
    position: 50% 50%;
    size: percentage(31/80);
    // bgsize/width
  }
  @include lg {
    opacity: 0.8;
    &:focus,
    &:hover {
      opacity: 1;
    }
  }
  // @include lg-max {
  // }
}

.popup {
  text-align: center;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 400px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  z-index: 25;
  background-color: #fff;

  max-width: fit-content;
  width: auto;

  > div {
    width: 100%;
    height: 100%;
  }
  .btn_close {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: (33px / -2);
    width: 33px;
    height: 33px;
    z-index: 50;
    cursor: pointer;
    &:hover {
      animation: rotate 1.5s;
    }
  }

  strong {
    font-size: 1.1rem;
  }
  .popbg {
    width: 100%;
    display: block;
  }
}
.pop_alert,
.pop_alert2 {
  width: auto;
  height: auto;
  line-height: 1.3;
  .popup__wrap {
    padding: 60px 20px 40px;
  }
  strong {
    font-size: 20px;
  }
  .btn_close {
    left: auto;
    margin-left: auto;
    top: 20px;
    right: 20px;
    margin-right: 0;
    width: 18px;
    height: 18px;
  }
  .btnArea {
    // background-color: #f9f9f9;
    margin-top: 30px;
    a,
    button {
      width: 100px;
      height: 45px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
    }
    .btn_ok {
      background-color: #333;
      color: #fff;
    }
    .btn_cancel {
      background-color: #999;
      color: #fff;
    }
  }
  .notToday {
    span {
      display: block;
      width: 100%;
      padding: 6px 20px;
      text-align: right;
      background-color: #888;
      box-sizing: border-box;
    }
    label {
      font-size: 14px;
      color: #fff;
    }
  }
}

.pop_download {
  background: transparent;
  > .wrap {
    > img {
      max-width: initial;
    }
  }
  .btn_close {
    top: 0;
    left: auto;
    right: 0;
    width: 57px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 22px;
    }
  }
  .wrap {
    position: relative;
  }
  .btn {
    position: absolute;
    left: 177px;
    top: 415px;
    height: 80px;
    width: 486px;
    display: block;
    background: url(../images/popup/download-btn.png);
    transition: none;
    &:not([disabled]) {
      background-position: 0 50%;
      &:hover {
        background-position: 0 100%;
      }
    }
    &[disabled] {
      cursor: no-drop;
      background-position: 0 0;
    }
    &:hover {
    }
  }

  .input-label {
    letter-spacing: -0.02em;
    position: absolute;
    font-size: 16px;
    left: 177px;
    top: 371px;
    $w: 24px;
    display: block;
    &__txt {
      display: inline-block;
      line-height: $w;
      position: relative;
      padding-left: ($w + 5px);
      cursor: pointer;
      color: #fff;
      &::before {
        content: '';
        width: $w;
        height: $w;
        line-height: ($w - 2px);
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -$w/2;
        text-align: center;
        border: 1px solid #333;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 50%;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.5L5.5 8L12.5 1' stroke='%23333333' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: center;
      }
    }

    &--checkbox {
      // position: relative;
      input {
        top: 1px;
        left: 1px;
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        //브라우저 기본경고창 위치 확보
        height: $w + 2px;
        width: $w + 2px;
      }
    }
    &--checkbox {
      // input[type='checkbox']:focus + .input-label__txt::before {
      //   border-color: $color-1;
      // }

      input[type='checkbox']:checked + .input-label__txt::before {
        background-color: $color-1;
        border-color: $color-1;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.5L5.5 8L12.5 1' stroke='%23ffffff' stroke-width='2'/%3E%3C/svg%3E%0A");
      }
    }
  }
  .btn {
    position: absolute;
    left: 177px;
    top: 415px;
    height: 80px;
    width: 486px;
    display: block;
    background: url(../images/popup/download-btn.png);
    transition: none;
    &:not([disabled]) {
      background-position: 0 50%;
      &:hover {
        background-position: 0 100%;
      }
    }
    &[disabled] {
      cursor: no-drop;
      background-position: 0 0;
    }
    &:hover {
    }
  }
}

.popup--video {
  display: flex !important;
  opacity: 0;
  z-index: -2;
  transition: 500ms opacity;
  transition-delay: 100ms;
  @include lg-max {
    transform: none !important;
  }
  &.open {
    z-index: 400;
    opacity: 1;
  }

  @at-root .you_tube {
    background-color: #000; //
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 56.25%;
    z-index: 25;
    iframe,
    object,
    embed {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      // margin-top: 70px;
    }
  }
}

@include lg-max {
  $margin: vw(110);
  .blind--btnClosed {
    opacity: 0.8;
    width: $margin;
    height: $margin;
    // background-size: (31px / 1.6); //원본 닫기 이미지 사이즈
  }
  $gutter: $gutter;
  .popup {
    margin-top: calc(($margin - $gutter) / 2);
    &__wrap {
      width: calc(100% - $gutter * 2);
    }
  }
  .popup__scroll {
    max-height: calc(100vh - $margin - $gutter);
    max-height: calc(var(--vh, 1vh) * 100 - $margin - $gutter);
  }
}
// @include lg-max { //2안. 풀 팝업
//   $margin: vw(110);
//   .blind--btnClosed {
//     opacity: 0.8;
//     width: $margin;
//     height: $margin;
//     // background-size: (31px / 1.6); //원본 닫기 이미지 사이즈
//   }

//   .popup {
//   }
//   .popup__scroll {
//     max-height: calc(100vh - $margin - $gutter);
//     max-height: calc(var(--vh, 1vh) * 100 - $margin - $gutter);
//   }
// }
