//탭 기본 클래스. 스타일 추가/수정하여 사용해주세요
.tab {
  position: relative;
  .tab-list {
    // position: absolute;
    // top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      flex: 0 0 auto;
      padding: 0 2em;
      // margin: 0 -5px;
    }
  }
  .tab-link {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    display: block;
    // width: 405px;
    // height: 110px;
    transition: none !important;
    &.active {
      text-decoration: underline;
      color: $color-1;
    }
  }
  .tab-content {
    display: none;
  }
  @include lg {
    .tab-link {
      &:hover {
        //호버효과
      }
    }
  }
}
