.title {
  letter-spacing: -0.01em;
  word-break: keep-all;
  &--h1 {
    //   text-align: center;
    //   font-family: $font-family-sub;
    // font-size: rem(45);
    //   font-weight: 700;
    // line-height: 1.1;
    margin-bottom: rem(50);
    img {
      width: 100%;
      max-width: max-content;
    }
  }
  &--h2 {
    font-size: rem(26);
    color: #000;
    font-weight: 700;
  }
  &--h3 {
    color: #000;
    font-size: rem(18);
    font-weight: 600;
  }
  &--h3 {
    color: #000;
    font-size: rem(18);
    font-weight: 600;
  }
  &--h3bb {
    color: #000;
    font-size: rem(20);
    font-weight: 700;
    border-bottom: 2px solid #000011;
    padding-bottom: rem(10);
    margin-bottom: rem(30);
    @include lg {
      margin-bottom: rem(20);
    }
  }
  &--h4 {
    font-size: rem(18);
  }
}

.step {
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom: em(40);
    padding-bottom: em(20);
    border-bottom: 2px solid #f4f4f4;
    &__step {
      display: flex;
      margin-left: auto;
      gap: rem(9);
      .step {
        font-weight: 500;
        width: rem(30);
        height: rem(30);
        border-radius: 50%;
        background-color: #d5d9df;
        color: #fff;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: inline-flex;
      }
      &--1 {
        .step:nth-child(1) {
          background-color: #000;
        }
      }
      &--2 {
        // .step:nth-child(1),
        .step:nth-child(2) {
          background-color: #000;
        }
      }
      &--3 {
        // .step {
        .step:nth-child(3) {
          background-color: #000;
        }
      }
    }
    &-box {
      .step {
        &-btn {
          display: block;
          background-color: #3d3d3d;
        }
      }
    }
  }
}

.term-bx {
  text-align: left;
  padding: em(22);
  border: 1px solid #dedede;
  height: 205px;
  font-size: em(18);
  border-radius: 6px;
}

$input-height: rem(60);
.input-text,
input.input-text {
  // margin-top: rem(16);
  width: 100%;
  font-size: rem(18);
  height: $input-height;
  border: 1px solid #ededed;
  border-radius: 5px; // !important;
  padding: 0 1em; // !important;
  display: flex;
  align-items: center;
  &:disabled {
    background-color: #f9f9f9;
  }

  &:focus {
    box-shadow: 0 0 0 3px #f9f9f9;
  }
}

.fileBx {
  $btn: rem(120);
  position: relative;
  padding-right: $btn;
  border-radius: 5px;
  overflow: hidden;
  &__text {
    margin-top: 0;
    height: $input-height;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    line-height: $input-height;
    // padding: 0;
  }

  &__btn {
    display: block;
    width: $btn;
    height: $input-height;
    line-height: $input-height;
    color: #fff;
    background: #000000;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: rem(18);
    font-weight: 500;
    cursor: pointer;
    // &:hover {
    //   background: #666;
    // }
  }

  &__input {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: $input-height;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    -webkit-appearance: none;
  }
}

.input-label {
  // margin-top: rem(12);
  font-size: em(18);
  &,
  &__text {
    word-break: keep-all;
  }
}

.alert-icon {
  flex: 0 0 auto;
  width: rem(19);
  height: rem(19);
  font-size: rem(16);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.2em;
  border-radius: 50%;
  border: 2px solid #d53535;
  font-weight: 700;
}
.bracket-list {
  word-break: keep-all;
  color: #999999;
  line-height: 1.3;
  font-size: em(18);
  li {
    display: flex;
    margin-top: 0.5em;
    counter-increment: list;
    &:before {
      font-feature-settings: 'tnum';
      flex: 0 0 auto;
      padding-right: 0.5em;
      content: counter(list) ')';
    }
  }
}

.form-btn {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(9);
    align-items: stretch;
  }
  flex: 1 1 50%;
  font-size: em(24);
  min-height: rem(80);
  @include lg {
    min-height: rem(70);
  }
  padding: 0.2em 0.5em;
  border-radius: 5px;
  background-color: #d5d9df;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  word-break: keep-all;
  justify-content: center;
  // line-height: 1; //1.2;
  letter-spacing: -0.005em;
  width: 100%;
  font-weight: 500;
  transition: 200ms background-color;
  &:hover {
    background-color: darken(#d5d9df, 10%);
  }
  &--black {
    background-color: #000;
    &:hover {
      background-color: darken(#000, 10%);
    }
  }
}

.team-member-area {
  .team-member {
    margin-top: rem(40);
  }
  &__addBtn {
    display: block;
    margin: 0 auto;
    margin-top: rem(40);
    text-align: center;
    &:hover {
      .tit {
        color: #333;
        .icon {
          background-color: #333;
        }
      }
    }
    .tit {
      font-size: rem(20);
      color: #666;
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      .icon {
        margin-right: 0.4rem;
        width: rem(30);
        height: rem(30);
        line-height: 0;
        border-radius: 50%;
        background-color: #666;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(19);
      }
    }
    .desc {
      color: #999999;
      font-size: rem(18);
      margin-top: 0.5em;
    }
  }
}

.schedule-wrap {
  text-align: center;
  &__title {
    font-size: rem(25);
    color: #666;
    text-align: center;
    font-family: $font-family-sub;
    letter-spacing: -0.01em;
    font-weight: 500;
    line-height: 1.2;
    word-break: keep-all;
    display: inline-flex;
    @include lg-min {
      padding: 0 0.7em;
      position: relative;
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      &:before,
      &:after {
        content: '-';
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
      }
    }
  }
  &__list {
    position: relative;
    overflow: hidden;
    .item {
      margin-top: rem(42/2);
      // padding-bottom: rem(50);
      text-align: center;
      position: relative;
      &:last-child {
        @include lg {
          .txt-bx {
            margin-bottom: rem(22);
          }
        }
        &:after {
          content: none;
        }
        .txt-bx {
          border: 0;
        }
      }
      &:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='12px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='2px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(213, 217, 223)' d='M1.955,1.955 L8.520,8.520 L15.085,1.955 '/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50% 60%;
        width: rem(30);
        height: rem(30);
        background-size: rem(18);
        border-radius: 50%;

        background-color: #d5d9df;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: rem(22) auto;
      }
      .step {
        display: inline-flex;
        height: rem(42);
        border-radius: rem(42);
        min-width: rem(148);
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #170e12;
        font-weight: 600;
        letter-spacing: -0.01em;
        position: absolute;
        top: 0; //rem(-42/2);
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .txt-bx {
        @include lg-min {
          border: 2px solid #dedede;
          min-height: rem(123);
          border-radius: rem(123);
          padding: rem(42 - 10) rem(50) rem(42/2);
        }
        @include lg {
          padding: rem(40) 0 0;
          // border-top: 1px solid #ddd;
          // border-bottom: 1px solid #ddd;
        }
        display: flex;
        // align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        * {
          word-break: keep-all;
          line-height: 1.2;
        }
        .tit {
          width: 100%;
          font-weight: 700;
          font-size: rem(28);
          color: #000;
        }
        .desc {
          margin-top: 0.4em;
          font-size: rem(18);
          letter-spacing: -0.01em;
          color: #999;
          font-weight: 500;
        }
      }
    }
  }
  &__table {
    table-layout: fixed;
    width: 100%;
    border-top: 2px solid #000;
    // tbody {
    //   margin: 0 auto;
    //   width: auto;
    //   max-width: 280px;
    //   display: block;
    // }
    dl {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    dt,
    dd {
      padding: 1em 0.5em;
      line-height: 1.3;
      font-size: rem(18);
      letter-spacing: -0.01em;
    }
    dt {
      text-align: center;
      min-width: 6em;
      color: #222;
      font-weight: 700;
    }
    dd {
      color: #666;
      @include lg-min {
        min-width: 13em;
        text-align: center;
      }
    }
  }
}
