.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
* {
  letter-spacing: -0.005em;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
    font-family: inherit;
  }
}

html,
body {
  font-size: 16px;
  font-family: $font-family;
  @include lg {
    font-size: 13px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  text-align: center;
}

main {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  @include lg-min {
    background: #fff url(../images/bg.jpg) no-repeat center center / cover;
    // background-size: 100% auto;
    // background-attachment: fixed;
  }
}

.apply-wrap {
  max-width: 1040px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 80vh;
  // padding: 70px 0;
  position: relative;
  > .container {
    z-index: 3;
    padding-top: rem(70);
    padding-bottom: rem(70);
  }
  &__frame {
    width: 100%;
    height: 100%;
    position: absolute;
    // border: solid 3px #f0eae5;
    background: url(../images/frame-bar.jpg) repeat-y;
    background-size: 100% auto;
    z-index: 1;
  }

  &:before,
  &:after {
    z-index: 2;
    content: '';
    // height: 127px;
    height: 0;
    padding-top: percentage(127/1040);
    width: 100%;
    display: block;
    position: absolute;
    background: url(../images/frame.jpg) no-repeat;
    background-size: 100% auto;
  }
  &:before {
    top: 0;
    background-position: 0 0;
  }
  &:after {
    bottom: 0;
    background-position: 0 100%;
  }
  @media all and (min-width: 1600px) {
    // border-radius: 20px;
    box-shadow: 0 0 20px rgba(#000, 0.1);
    margin: 80px auto;
    .ch {
      z-index: 3;
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      &--1 {
        margin-left: -1334px;
        left: 50%;
        top: 60px;
        width: 910px;
        height: 907px;
        background-image: url('../images/ch-1.png');
      }
      &--2 {
        margin-right: -1254px;
        right: 50%;
        bottom: -570px;
        width: 1111px;
        height: 1276px;
        background-image: url('../images/ch-2.png');
      }
    }
  }
}

.container {
  max-width: 640px + 40px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

@include lg {
  form[name='frmPaymentGnb'] + table {
    display: none !important;
  }
}

html,
body {
  scroll-padding-top: 10px;
}
