// ### Common
.section {
  position: relative;
  text-align: center;
  img {
    margin: 0 auto;
    image-rendering: auto;
    @include lg-max {
      width: 100%;
    }
  }
  &-container {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    height: 100%;
    @include lg-max {
      min-height: auto;
      height: auto;
    }
  }
}

// ### Main
.section {
  &-main {
    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 1322px;
    min-height: auto !important;
    height: auto;
    margin: 0 auto;
    color: #fff;
    background: url('../images/main_bg.webp') no-repeat center bottom / 100% 100%;
    text-align: center;
    @media all and (max-width: 1370px) {
      min-width: 100%;
      width: 100%;
    }
    @include lg-max {
      min-width: auto;
      background-image: url('../images/main_bg_tm.webp');
    }
    .section {
      &-container {
        min-height: 100vh;
        height: 100%;
        padding: 0;
        &--m {
          @include lg-max {
            position: relative;
            aspect-ratio: auto;
          }
        }
      }
    }
    &__center {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-height: 100vh;
      margin: 0 auto;
      &--title {
        padding: 71px 0 10px;
      }
      .letter {
        &-box {
          display: inline-block;
          position: relative;
          top: -37px;
          text-align: center;
          z-index: 1;
          &__txt {
            display: inline-block;
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            margin-left: -293px;
            margin-top: -260px;
            @at-root {
              html:not(.no-js) {
                .letter-box {
                  &__txt {
                    opacity: 0.9 !important;
                    transform: translateY(15px);
                    transition-duration: 2s !important;
                    &.aos-animate {
                      opacity: 1 !important;
                      transform: translateY(0) !important;
                    }
                  }
                }
              }
            }
            > ul {
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 2;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 35px;
              > li {
                color: #463838;
                font-size: 24px;
                font-weight: 500;
                letter-spacing: -1.8px;
                &:first-child {
                  padding-bottom: 21px;
                }
                > h3 {
                  color: #966d48;
                  font-size: 22px;
                  font-weight: 500;
                  letter-spacing: -2.8px;
                  &::before,
                  &::after {
                    content: '';
                    display: inline-block;
                    width: 43px;
                    height: 12px;
                    background: no-repeat center center / contain;
                  }
                  &::before {
                    padding-right: 10px;
                    background-image: url('../images/title_bg_l.webp');
                  }
                  &::after {
                    padding-left: 10px;
                    background-image: url('../images/title_bg_r.webp');
                  }
                }
              }
            }
            &--bg {
              position: relative;
              z-index: 1;
            }
          }
          &__body {
            z-index: 2;
            width: 100%;
            min-width: 1660px;
          }
        }
      }
    }
  }
}

// ### Sub
.section {
  &-sub {
    width: 100%;
    min-width: 1322px;
    min-height: auto !important;
    height: auto;
    margin: 0 auto;
    background: url('../images/section_bg.webp') no-repeat center top / 100% 100%;
    text-align: center;
    @media all and (max-width: 1370px) {
      min-width: 100%;
      width: 100%;
    }
    @include lg-max {
      min-width: auto;
      background-image: url('../images/section_bg_tm.webp');
    }
    &__inner {
      display: inline-block;
      position: relative;
      z-index: 4;
      // min-width: 1660px;
      width: 100%;
      height: 1500px;
      @include lg-max {
        height: auto;
      }
      &--img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-width: 1660px;
        max-width: 1660px;
      }
      .particles-js {
        width: 100%;
        max-width: 1660px;
        right: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0.2;
        background-image: none;
      }
    }
  }
}

// ### Form
.form {
  &-box {
    position: absolute;
    left: 50%;
    top: 880px;
    z-index: 5;
    transform: translateX(-50%);
    width: 457px;
    height: auto;
    @include lg-max {
      top: vw(1107);
      width: vw(846);
    }
    .login {
      &-before,
      &-after {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 266px;
        background: no-repeat center center / contain;
        @include lg-max {
          // width: vw(548);
          width: 100%;
          height: auto;
          aspect-ratio: (846/513);
        }
      }
      &-before {
        background-image: url('../images/form_before_bg.webp');
        @include lg-max {
          background-image: url(('../images/form_before_bg_tm.webp'));
        }
      }
      &-after {
        background-image: url('../images/form_after_bg.webp');
        @include lg-max {
          background-image: url(('../images/form_after_bg_tm.webp'));
        }
        form {
          @include lg-max {
            width: vw(600);
            margin: 0 auto;
          }
        }
      }
    }
    &__title {
      color: #453a3a;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      letter-spacing: -0.9px;
      @include lg-max {
        font-size: vw(36);
        letter-spacing: 0;
      }
      .point {
        color: #fff !important;
        font-size: 20px;
        letter-spacing: -0.9px;
        @include lg-max {
          font-size: vw(40);
          letter-spacing: 0;
        }
      }
      &::before {
        content: '';
        display: block;
        width: 95px;
        height: 34px;
        margin: 0 auto 21px;
        background: url('../images/title_bg_crown.webp') no-repeat center center / contain;
        @include lg-max {
          width: vw(174);
          height: vw(61);
          margin: 0 auto vw(42);
          background-image: url('../images/title_bg_crown_tm.webp');
        }
      }
      &--txt {
        color: #e7dccc;
        font-size: 18px;
        @include lg-max {
          font-size: vw(33);
        }
        .para {
          display: none;
          @include lg-max {
            display: block;
          }
        }
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 266px;
      height: 61px;
      margin: 21px auto 0;
      background: url('../images/submit_btn.webp') no-repeat center center / contain;
      color: #fff;
      font-size: 22px;
      font-weight: 300;
      text-align: center;
      text-shadow: 0px 3px 1px #000;
      line-height: 21px;
      @include lg-max {
        width: vw(486);
        height: vw(113);
        margin: vw(55) auto 0;
        font-size: vw(46);
        line-height: vw(21);
        font-weight: 500;
      }
      &:hover {
        filter: brightness(1.1);
      }
    }
  }
  &-list {
    width: 333px;
    margin: 0 auto;
    @include lg-max {
      width: 100%;
    }
    > li {
      &:first-child {
        margin-bottom: 5px;
        @include lg-max {
          margin-bottom: vw(9);
        }
      }
      > label {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        > span {
          display: inline-block;
          padding-right: 8px;
          color: #bbb;
          font-size: 16px;
          font-weight: 400;
          @include lg-max {
            padding-right: vw(13);
            font-size: vw(29);
          }
        }
      }
    }
  }
}

.detail {
  &-txt {
    padding-top: 12px;
    color: #616b83;
    font-size: 14px;
    text-align: center;
    letter-spacing: -1.4px;
    line-height: 1.4;
    @include lg-max {
      padding-top: vw(33);
      font-size: vw(25);
      letter-spacing: -0.9px;
      line-height: 1.2;
    }
    &__link {
      color: #124099;
      text-decoration: underline;
      font-weight: 400;
      font-size: 14px;
      @include lg-max {
        font-size: vw(25);
      }
    }
  }
}

input {
  &.input-txt {
    width: 199px;
    padding: 2px 17px;
    border: 1px solid #a7aab1;
    box-sizing: border-box;
    background-color: #eaeaea;
    color: #202020;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    @include lg-max {
      font-size: vw(36);
      width: vw(367);
      line-height: vw(55);
      padding: vw(2) vw(17);
    }
  }
}

.info-btn {
  display: block;
  margin-top: 9px;
  color: #7ea3eb;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.9px;
  @include lg-max {
    font-size: vw(29);
    margin-top: vw(37);
    font-weight: 500;
  }
}

// # Object
.i {
  position: absolute;
  &-wrap {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 1660px;
    width: 1660px;
    min-height: 100%;
    margin-top: 40px;
    @media all and (max-width: 1708px) {
      min-width: 100%;
      width: 100%;
    }
  }
  &-rose {
    position: absolute;
    left: -322px;
    top: -39px;
    z-index: -1;
  }
  img {
    width: auto;
  }
  @at-root {
    .i {
      &__ani {
        display: block;
        animation: swing 3000ms infinite alternate ease-in;
      }
    }
    .whole {
      z-index: 4;
      .i {
        left: 50%;
        &--r {
          top: 50%;
          transform: translate(215px, -32%);
          top: 35px;
          transform: translate(215px, 0);
          img {
            // min-width: 827px;
            // width: 100%;
            min-width: 20%;
            width: 93%;
            @include lg-max {
              display: none;
            }
          }
          @media all and (max-width: 1400px) {
            transform: translate(176px, -31%);
          }
          &-2 {
            top: 1818px;
            transform: translateX(285px);
            z-index: 7;
            @include lg-max {
              display: none;
              top: 10%;
              transform: translateX(10px);
            }
          }
        }
      }
    }
    .section {
      &-sub {
        .i {
          left: 50%;
          &--l {
            top: 300px;
            transform: translateX(-872px);
            @media all and (max-width: 1400px) {
              display: none;
            }
            .i {
              &__ani {
                animation-delay: -2000ms;
              }
            }
          }
        }
      }
    }
  }
}

// # Effect
.bg-confetti {
  position: absolute;
  top: 40px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  min-width: 2198px;
  max-width: 2198px;
  width: 100%;
  // height: 100%;
  height: 2581px;
  overflow: hidden;
  @include lg-max {
    // min-width: vw(1508);
    display: none;
  }
  .motion1,
  .motion2 {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    // height: 875px;
    min-height: 875px;
    height: 2581px;
    background: url('../images/bg-confetti.webp') repeat-y center top / contain;
    opacity: 0.9;
    animation: confettiMove 35s 0.1s linear infinite;
    @include lg-max {
      background-image: url('../images/bg-confetti_tm.webp');
      display: none;
    }
  }
  .motion2 {
    height: 2607px;
    animation: confettiMove2 35s 0.1s linear infinite;
  }
}

.particles-js {
  display: block;
  width: 55%;
  height: 100%;
  background: url('../images/powder.webp') no-repeat right top / contain;
  position: absolute;
  right: 1%;
  top: 10%;
  border-radius: 70%;
  overflow: hidden;
  animation: fadeIn 3000ms alternate infinite;
  canvas {
    opacity: 1;
  }
}
