//                        888      d8b 888
//                        888      Y8P 888
//                        888          888
// 88888b.d88b.   .d88b.  88888b.  888 888  .d88b.
// 888 "888 "88b d88""88b 888 "88b 888 888 d8P  Y8b
// 888  888  888 888  888 888  888 888 888 88888888
// 888  888  888 Y88..88P 888 d88P 888 888 Y8b.
// 888  888  888  "Y88P"  88888P"  888 888  "Y8888
@function vw($val) {
  // @return ($val/1080 * 100vw);
  @return floor($val / 2.3) + px;
}

@function remove-unit($x) {
  @return ($x / ($x * 0 + 1));
}

@mixin stitches-sprite($x: 0, $y: 0, $width: 0, $height: 0) {
  background-position-x: $x / 2;
  background-position-y: $y / 2;
  width: $width / 2;
  height: $height / 2;
}
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

.common-footer {
  * {
    margin: 0;
    padding: 0;
  }
  &,
  * {
    font-family: 'Noto Sans KR', 'dotum', '돋움', sans-serif;
    box-sizing: border-box;
    line-height: initial;
    letter-spacing: initial;
    word-break: keep-all;
  }
  // S: 240607 reset 추가
  .txt_hidden,
  .txtHidden,
  caption {
    display: inline;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    text-indent: -9999px;
  }
  // E: 240607 reset 추가
  padding: 0 0 vw(100);
  text-align: center;
  background-color: #f2f4f7;

  &--simple {
    .common-footer__bottom {
      margin-top: 0;
    }
  }
  //다크모드
  &.common-footer--darkmode {
    background-color: #1e1e23;
    // .common-footer__link {
    //   li:before {
    //     border-left-color: #dcdbdb;
    //   }
    //   .link {
    //     color: #dcdbdb;
    //   }
    // }
    .logo__gravity {
      @include stitches-sprite(-10px, -10px, 334px, 78px);
    }
    .logo__neocyonGravity {
      @include stitches-sprite(-10px, -206px, 337px, 78px);
    }
  } //다크모드

  &__container {
    padding: 0 vw(20);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    $margin: 3px;
    margin-right: -$margin;
    margin-left: -$margin;
    margin-bottom: vw(66);
    margin-top: -$margin * 2;
    li {
      padding: 0 $margin;
      margin-top: $margin * 2;
    }
    .link {
      background-color: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #3f3f3f;
      padding: 0.7em 2em;
      line-height: 1.3;
      min-width: 8em;
      border: 1px solid #ddd;
      border-radius: 0.5em;
      font-size: vw(30);
      letter-spacing: -0.02em;
    }
  }

  &__txt {
    margin-bottom: vw(66);
    * {
      color: #707070;
      font-size: vw(30);
    }
    .btn {
      cursor: pointer;
      background: none;
      vertical-align: initial;
      text-decoration: underline;
      text-underline-offset: 2px;
      letter-spacing: -0.02em;
      border: 0;
      outline: 0;
    }
    &__address {
      display: block;
      font-style: normal;
    }
    .btn-bizinfo {
      display: block;
    }
    span {
      padding: 0.1em 0.3em;
      line-height: 1.3;
      display: inline-block;
    }
  }

  &__game-info {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // margin-left: vw(-5);
    // margin-right: vw(-5);
    // margin-top: vw(-10);
    // > * {
    //   margin: vw(10) vw(5) 0;
    // }
  }
  .game-grade-mark {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > * {
      margin-left: vw(11);
      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
  .game-grade-table {
    margin: 0 auto;
    margin-top: vw(32);
    table-layout: fixed;
    text-align: left;
    max-width: 260px;
    &,
    th,
    td {
      display: block;
    }
    tbody {
      display: flex;
      flex-wrap: wrap;
    }
    tr {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &:nth-child(1) {
        order: 1;
        th,
        td {
          border-top: 0;
        }
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(5) {
        order: 3;
      }
      &:nth-child(2) {
        order: 4;
      }
      &:nth-child(4) {
        order: 5;
      }
      &:nth-child(6) {
        order: 6;
      }
    }
    colgroup {
      display: none;
    }
    td,
    th {
      background: none;
      height: auto;
      border: 0;
      letter-spacing: -0.02em;
      line-height: 1;
      vertical-align: middle;
      font-size: vw(25);
      border-top: 1px solid rgba(#fff, 0.2);
      border-left: 1px solid rgba(#fff, 0.2);
      padding: 3px;
      font-weight: 300;
      &:nth-child(1) {
        border-left: 0;
      }
    }
    th {
      flex: 0 0 11em;
      text-align: center;
    }
    td {
      padding-left: 5px;
      flex: 1 1 calc(100% - 11em);
    }
    &--all {
      background-color: #050;
      color: #fff;
      td,
      th {
        border-color: desaturate(lighten(#050, 17%), 40%);
      }
    }
    &--12 {
      background-color: #007;
      color: #fff;
      td,
      th {
        border-color: desaturate(lighten(#007, 17%), 40%);
      }
    }
    &--15 {
      background-color: #fc0;
      color: #000;
      td,
      th {
        border-color: desaturate(darken(#fc0, 17%), 40%);
      }
    }
    &--18 {
      background-color: #400;
      color: #fff;
      td,
      th {
        border-color: desaturate(lighten(#400, 17%), 40%);
      }
    }
  }

  &__bottom {
    margin-top: vw(45);
    text-align: center;
    &__copyright {
      font-size: vw(25);
      color: #676767;
      margin-top: vw(30);
    }
  }

  // ## [GNJOY] PC/콘솔 게임사 플랫폼 로고 표기 관련 상담의 건 - 권리 표기 추가
  &__trademarks {
    margin-top: 10px;
    color: #707070;
    text-align: center;
    p {
      font-size: 12px;
      .trademarks {
        &-btn {
          font-size: 12px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .spr-grade {
    background-image: url(../images/spr-grade.png);
    background-repeat: no-repeat;
    display: inline-block;
    // background-size: vw(200);
    background-size: (200px/2);
    // https://spritegen.website-performance.org/
    &__all {
      @include stitches-sprite(-10px, -10px, 101px, 118px);
    }
    &__12 {
      @include stitches-sprite(-10px, -148px, 101px, 118px);
    }
    &__15 {
      @include stitches-sprite(-10px, -286px, 101px, 118px);
    }
    &__18 {
      @include stitches-sprite(-10px, -424px, 101px, 118px);
    }
    &__test {
      @include stitches-sprite(-10px, -562px, 101px, 118px);
    }
    &__language {
      @include stitches-sprite(-10px, -700px, 101px, 118px);
    }
    &__gambling {
      @include stitches-sprite(-10px, -838px, 101px, 118px);
    }
    &__crime {
      @include stitches-sprite(-10px, -976px, 101px, 118px);
    }
    &__fear {
      @include stitches-sprite(-10px, -1114px, 101px, 118px);
    }
    &__drug {
      @include stitches-sprite(-10px, -1252px, 101px, 118px);
    }
    &__sexuality {
      @include stitches-sprite(-10px, -1390px, 101px, 118px);
    }
    &__violence {
      @include stitches-sprite(-10px, -1528px, 101px, 118px);
    }
    &__anab-bsi {
      @include stitches-sprite(-10px, -2602px, 180px, 73px);
      // margin: 0 auto;
    }
  }
  .logo {
    background-image: url(../images/footerlogo-mobile.png);
    background-repeat: no-repeat;
    display: inline-block;
    // background-size: vw(357);
    background-size: (357px/2);
    &__gravity {
      @include stitches-sprite(-10px, -108px, 334px, 78px);
    }
    &__neocyonGravity {
      @include stitches-sprite(-10px, -304px, 337px, 78px);
    }
  }
}

.common-condition {
  &__link {
    display: flex;
    gap: 0 1.7em;
    align-items: center;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-top: -43px;
    @media all and (max-width: 767px) {
      gap: 0 0.7em;
    }
    > li {
      position: relative;
      min-width: 44px;
      color: #707070;
      font-size: 12px;
      font-weight: 500;
      &::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 0.7em;
        background-color: #707070;
        position: absolute;
        left: -1em;
        top: 5px;
        @media all and (max-width: 767px) {
          left: -0.35em;
        }
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
      > a {
        font-size: 12px;
        color: #707070;
      }
      .em {
        color: #1470e1;
      }
    }
  }
}
