// ##### UPDATE
.update {
  &-frame {
    position: relative;
  }
}
// ##### 도람 왕국 소개
.update--1 {
  min-height: 3372px;
  @include backgroundCover;
  // background-size: 100% 100%;
  background-image: url('../images/update/update1/update1_bg.png');
  @include lg-max {
    min-height: 100%;
    background-image: none;
  }
  &.fix {
    .ch {
      position: fixed;
      &--r {
        top: 11%;
      }
    }
    // &.bottom {
    //   .ch {
    //     position: absolute;
    //     &--r {
    //       top: 5%;
    //     }
    //   }
    // }
    &.bottom {
      .ch__wrap {
        display: none !important;
      }
    }
  }
  .ch {
    // position: sticky;
    position: absolute;
    bottom: auto;
    top: 0;
    margin-left: 0;
    &__wrap {
      top: 0;
      left: 0;
    }
    &--l {
      margin-left: -32% !important;
      top: 1%;
    }
    &--r {
      margin-left: 40% !important;
      top: 5%;
    }
  }
  .img-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    gap: 3px;
    left: 50%;
    width: 76.1%;
    top: 16.08%;
    margin-left: -38.05%;
    @include lg-max {
      gap: 0 3%;
      width: 80%;
      height: 87.6%;
      left: 10%;
      top: 8.7%;
      margin-left: 0;
    }
    > li {
      flex: 1 1 calc(100% / 3 - 3px / 3 * 2);
      cursor: pointer;
      @include lg-max {
        height: 12%;
        flex: 0 1 calc(100% / 2 - 3% / 2 * 1);
      }
    }
  }
  .con2 {
    margin-top: 60px;
    @include lg-max {
      top: -1px;
      margin-top: 0;
    }
  }
  .con3 {
    margin-top: 30px;
    @include lg-max {
      top: -2px;
      margin-top: 0;
    }
    .you-tube {
      position: absolute;
      overflow: hidden;
      border-radius: 7px;
      width: 53.4%;
      height: 37.1%;
      @include lg-max {
        width: 62%;
        height: 30.4%;
      }
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
      }
      &__cover {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        @include backgroundCover;
        cursor: pointer;
      }
      &.info1 {
        left: 23.5%;
        top: 14.5%;
        @include lg-max {
          left: 18.6%;
          top: 14.5%;
        }
        .you-tube__cover {
          background-image: url('../images/update/update1/con3_video1.png');
        }
      }
      &.info2 {
        top: 52.5%;
        left: 30.7%;
        @include lg-max {
          top: 45%;
          left: 27%;
        }
        .you-tube__cover {
          background-image: url('../images/update/update1/con3_video2.png');
        }
      }
    }
  }
}

// ##### 도람족 소개
.update--2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1080px;
  @include backgroundCover;
  // background-size: 100% auto;
  background-image: url('../images/update/update2/update2_bg.png');
  @include lg-max {
    position: relative;
    top: -3px;
    min-height: 100%;
    background-image: none;
  }
  .ch {
    &--l {
      bottom: auto;
      top: -49%;
      margin-left: -78%;
      .ch__ani {
        animation-duration: 9000ms;
      }
    }
    &--r {
      bottom: auto;
      top: -23%;
      margin-left: -17%;
    }
  }
  .con1 {
    .info-list {
      position: absolute;
      left: 51%;
      top: 35%;
      z-index: 11;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4%;
      width: 80%;
      height: 20%;
      @include lg-max {
        width: 90%;
        height: 33%;
        display: block;
      }
      > li {
        height: 100%;
        flex: 1 1 calc(79% / 4 - 4% / 4 * 3);
        cursor: pointer;
        @include lg-max {
          flex-basis: auto;
          background-color: rebeccapurple;
          opacity: 0.3;
          position: absolute;
          left: 0;
          top: 0;
          width: 29%;
          height: 43%;
          &:nth-child(1) {
            left: 4%;
            background-color: orange;
          }
          &:nth-child(2) {
            left: 36%;
            background-color: olivedrab;
          }
          &:nth-child(3) {
            top: 54%;
            left: 33%;
            background-color: tomato;
          }
          &:nth-child(4) {
            left: 65%;
            top: 54%;
            background-color: darkcyan;
          }
        }
      }
    }
    &-img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
    }
  }
}

// ##### 도람 왕국 컨텐츠
.update--3 {
  position: relative;
  padding-top: 20px;
  min-height: 1335px;
  @include backgroundCover;
  // background-size: 100% auto;
  background-image: url('../images/update/update3/update3_bg.png');
  @include lg-max {
    position: relative;
    top: -4px;
    min-height: 100%;
    padding-top: 0;
    background-image: none;
  }
  .ch {
    &--l {
      bottom: auto;
      margin-left: -77%;
      top: -46%;
    }
    &--r {
      top: -13%;
      bottom: auto;
      margin-left: -15%;
    }
  }
  .section-container {
    padding-top: 45px;
    @include lg-max {
      padding-top: 0;
    }
  }
  .con1 {
    &-img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
