@import 'mixin/_breakpoints';
@import 'mixin/_btnImg';
@import 'mixin/_bgfix';
@import 'mixin/_100vh';

@mixin spr($x: 0, $y: 0, $width: 0, $height: 0) {
  background-position: $x $y;
  width: $width;
  height: $height;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin backgroundDefault {
  background: no-repeat center center / contain;
}

@mixin backgroundCover {
  background: no-repeat center top / cover;
}

@mixin gif($w, $h, $x, $y, $name) {
  background-image: url(../images/gif/#{$name}.gif);
  width: ($w) * 1px;
  aspect-ratio: $w/$h;
  margin-left: ($x) * 1px;
  top: ($y) * 1px;
}
@mixin gifMo($w, $h, $x, $y, $nameMo) {
  background-image: url(../images/gif/mo/#{$nameMo}.gif);
  width: vw($w);
  aspect-ratio: $w/$h;
  margin-left: vw($x);
  top: vw($y);
}
@mixin gifMainL($w, $h, $x, $y, $name) {
  background-image: url(../images/gif/main/#{$name}.gif);
  width: ($w) * 1%;
  height: ($h) * 1%;
  left: ($x) * 1%;
  top: ($y) * 1%;
}
@mixin gifMainR($w, $h, $x, $y, $name) {
  background-image: url(../images/gif/main/#{$name}.gif);
  width: ($w) * 1%;
  height: ($h) * 1%;
  right: ($x) * 1%;
  top: ($y) * 1%;
}
