// ##### S: leaf animate #####
@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(135deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    opacity: 0;
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}
@keyframes swingswing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}
// ##### E : leaf animate #####

// ##### S: 반짝임 #####
@keyframes opacityAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// 불 일렁임
@keyframes mainStarsTwinkle {
  0% {
    opacity: 0.3;
    filter: brightness(1) hue-rotate(0);
  }
  100% {
    opacity: 1;
    filter: brightness(1.1) hue-rotate(1deg);
  }
}

// 빛나게만
@keyframes twinkle {
  0% {
    filter: brightness(1) hue-rotate(0);
  }
  100% {
    filter: brightness(1.3) hue-rotate(1deg);
  }
}

@keyframes blingBling {
  from {
    // transform: translateX(1%);
  }
  to {
    // transform: translateX(2%);
    filter: drop-shadow(0 0 7px #fff) brightness(1.07);
  }
}
// ##### E: 반짝임 #####

// ##### S: scroll down #####
@keyframes downAction {
  from {
    transform: translateY(-10px);
  }
  to {
    ransform: translateY(0);
  }
}
// ##### E: scroll down #####

// ##### S: characters moving
@keyframes floatCh {
  0% {
    transform: rotate(-1deg) translateY(1%);
  }
  100% {
    transform: rotate(0deg) translateY(2%);
  }
}
// ##### E: characters moving

// ##### S: rotate
@keyframes rotateInfin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}
// ##### E: rotate

// ##### S : main
@keyframes floatingStar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%) rotate(4deg);
  }
}
// ##### E : main

@keyframes swirl {
  from {
    opacity: 0;
    transform: rotate(50deg);
    transition-duration: 2s !important;
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes starSway {
  0%,
  100% {
    filter: brightness(1);
    // transform: rotate(0);
  }
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    transform: rotate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(1deg);
  }
  50% {
    filter: brightness(1.1);
  }
}
