/* popup */
.blind {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 500;
}

//팝업 기본스타일
.popup {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 600;
  display: flex;
  display: none;
  position: fixed;
  // width: 100%;
  // height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  &__wrap {
    background-color: #fff;
    position: relative;
    // height: 100%;
    width: 100%;
    max-width: 1200px;
    max-height: calc(100vh - 40px * 4); // 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    // padding: 0 66px; //닫기버튼용 여백
  }
  .btn_close {
    position: absolute;
    top: 0;
    left: 100%;
    // margin-left: -20px;
    width: 50px;
    height: 50px;
    z-index: 25;
    cursor: pointer;
    // transition: 500ms all;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;

    // &:hover {
    //   opacity: 1;
    //   animation: rotate 1.5s;
    // }
    @include lg {
      top: -80px;
      left: 50%;
      margin-left: -25px;
    }
  }
  strong {
    font-size: 1.1rem;
  }
  .popbg {
    width: 100%;
    display: block;
  }
}

/* popup--video 동영상 */
.popup--video {
  display: flex !important;
  // transform: scale(0, 0);
  opacity: 0;
  z-index: -2;
  // filter: alpha(opacity = 0);
  // -moz-opacity: 0;
  // -khtml-opacity: 0;
  transition: 500ms opacity;
  transition-delay: 100ms;
  &.open_movie {
    z-index: 600;
    // transform: scale(1, 1);
    // transition: all 0.5s;
    opacity: 1;
  }
  // .btn_close {
  //   position: absolute;
  //   top: 3%;
  //   right: 50%;
  //   margin-right: -16.5px;
  //   width: 33px;
  //   height: 33px;
  //   z-index: 25;
  //   &:hover {
  //     animation: rotate 1.5s;
  //   }
  // }

  @at-root .you_tube {
    // background-color: #000;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 56.25%;
    z-index: 25;
    iframe,
    object,
    embed {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      // margin-top: 70px;
    }
  }
}

#popup--alert {
  * {
    line-height: 1.3;
    font-size: 19px;
    font-weight: 500;
  }

  .popup__wrap {
    width: auto;
    background-color: transparent;
    &:before {
      content: '';
      height: 66px;
      width: 100%;
      display: block;
      background: url(../images/promotion/popup-top.png) no-repeat 50% 0;
    }
  }
  .popup__body {
    background-color: #fff;
    padding: 40px 50px;
    text-align: center;
  }
  .title {
    font-size: 23px;
    font-weight: 700;
  }
  .text {
    margin-top: 0.8em;
    &--danger {
      color: #f53f47;
    }
  }
  .close-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    background-color: #f53f47;
    color: #fff;
    font-size: 25px;
    letter-spacing: 0.3em;
  }
}
