@function remove-unit($value) {
  @return ($value / ($value * 0 + 1));
}

@function em($val, $std: 16) {
  @return ($val/$std) * 1em;
}

//2023-08-16 : css 기본함수에 rem()을 지원하는 업데이트 이후 css-rem으로 함수명 변경
@function css-rem($val, $std: 16) {
  @return ($val/$std) * 1rem;
}

$mediaPSD-function: remove-unit($mediaPSD);
@function vw($val, $std: $mediaPSD-function) {
  @return ($val / ($std / 100)) * 1vw;
}

$sizeW: 1200px;
$sizeW-function: remove-unit($sizeW);
@function vwSize($val, $std: $sizeW-function) {
  @return ($val / ($std / 100)) * 1vw;
}

$widePC: 2560px;
$widePC-function: remove-unit($widePC);
@function vwWide($val, $std: $widePC-function) {
  @return ($val / ($std / 100)) * 1vw;
}
