@font-face{
	font-family:'NotoSansKR';
	src:url('NotoSansKR-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family:'NotoSansKR';
	src:url('NotoSansKR-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family:'NotoSansKR';
	src:url('NotoSansKR-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family:'NotoSansKR';
	src:url('NotoSansKR-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
